.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 75px;
}
/* outline: 1.5px solid black; */
.input{
    height: 100%;
    width: 100%;
    background-color: #F5F7FA;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
    padding: 25px 30px;
    border-radius: 10px;
}

.user-detail{
    display: flex;
    flex-wrap: wrap;
    /* grid-gap: 0.5rem */
    /* flex-wrap: wrap */
}

input[type="file"]{
    display: none;
}

.img-input{
    /* outline: 1.5px solid black; */
    display: block;
    width: 250px;
    text-align: center;
    height: 350px;
    padding: 30px 20px;
}

.text-input{
    /* display: flex;
    flex-wrap: wrap;
    width: 80%;
    left: 0px; */
    /* outline: 1.5px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    width: 845px;
    height: 400px;
    padding: 25px;
    /* margin-left: 10px; */
}

.taxt-input-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.button-input{
    /*  */
    margin-top: 10px;
    float:right;
    margin-right: 20px;
}

 #btnsave,#btncancel{
    width: 80px;
    height: 35px;
    margin-left: 20px;
    color: white;
    background-color: #4EA5FF;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
}

#btncancel{
    background-color: red;
}

#btnimg{
    padding: 8px 15px;
    border-radius: 25px;
    background-color: white;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4EA5FF;
    cursor: pointer;
    outline: 1.5px solid #bdbdbd;
}


.button-27:disabled ,#btnimg:disabled{
  pointer-events: none;
}

.button-27:hover ,#btnimg:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  outline: 2px solid black;
}

.button-27:active ,#btnimg:active{
  box-shadow: none;
  transform: translateY(0);
}

figcaption{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    color: #2a292a;
    /* outline: 1px solid black; */
}

.taxt-input-box input{
    height: 45px;
    padding: 10px;
    margin-top: -10%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
   
}

.warn{
    position:fixed;
    top: 125px;
    left: 720px;
    width: 300px;
    height: 50px;
    color: #84205C;
    
    
}

.warning{
    position:relative;
    height: 50px;
    background-color: #F8D7DA;;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
