.content .welcome{
    width: 100%;
    height: 275px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .welcome img{
    width: 50%;
    height: 100%;
    border-radius: 25px;
}

.content .count_user{
    width: 100%;
    height: 275px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.officer{
    width: 350px;
    height: 200px;
    background-color: #F5F7FA;
    margin-left: 25px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
    border-radius: 25px;
    position: relative;
}

.teacher{
    width: 350px;
    height: 200px;
    background-color: #F5F7FA;
    margin-left: 25px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
    border-radius: 25px;
    position: relative;
}
.student{
    width: 350px;
    height: 200px;
    background-color: #F5F7FA;
    margin-left: 25px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
    border-radius: 25px;
    position: relative;
}

.count_user #gg{
    font-size: 80px;
    padding-top: 35px;
    padding-left: 125px;
}

.count_user h3{
    position: absolute;
    left: 110px;
    top: 130px;
    font-size: 25px;
}

