@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

.head{
    width: 85%;
    height: 10%;
    background-color: #207BFF;
    position: fixed;
    right: 0;
    z-index: 9;
}
.head .hi{
    width: 350px;
    height: 100%;
    margin-left: 956px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F7FA;
  
    
}
.head .hi .img img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}


.menu{
    width: 15%;
    height: 100vh;
    background-color: #4EA5FF;
    position: fixed;
    left: 0;
}

.menu ul{
    margin-top: 22%;
   
}

.menu li{
    list-style-type: none;
    margin-top: 15px;
    padding-left: 25px;
    height: 34px;
    width: 100%;
    /* background-color: #F5F7FA; */
    display: flex;
    align-items: center;
}

.menu .logout{
    margin-top: 250px;
    
}

ul a{
    text-decoration: none;
    font-size: 18px;
    color: #F5F7FA;
}

a #ic{
    font-size: 25px;
    margin-right: 10px;
}




.menu .logo{
    background-color: #F5F7FA;
    width: 95%;
    height: 10%;
    text-align: center;
    padding: 10px;
    padding-top: 12px;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 25px;
    font-size: 15px;
}

.title{
    width: 85%;
    height: 5%;
    background-color: #F5F7FA;
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 10;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
}

.title #tt{
   font-size: 25px;
   padding-left: 10px;
   padding-top: 5px;
}
.title p{
    position: absolute;
    left: 50px;
    top: 8px;
}

.content{
    width: 85%;
    height: 85%;
    position: fixed;
    top: 15%;
    right: 0;
    
}
