.input{
    margin-left: 100px;
    margin-top: 35px;
    width: 1100px;
    height: 550px;
    background-color: #F5F7FA;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
}
input{
    width: 250px;
    height: 35px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-left: 10px;
}


.img_data{
    position:fixed;
    top: 200px;
    left: 400px;
    width: 200px;
}

.front{
    position:fixed;
    top: 200px;
    left: 600px;
}
.back{
    position:fixed;
    top: 200px;
    left: 1000px;
}



.save{
    position:fixed;
    top: 580px;
    left: 1045px;
}

#btnsave, #btncancel{
    width: 80px;
    height: 35px;
    margin-left: 20px;
    color: white;
    background-color: #4EA5FF;
    border-radius: 25px;
    border: none;
}

.tterm,.tyear,.tclass{
    position:fixed;
    top: 200px;
}
.tterm select,.tyear input,.tclass select{
    margin-top: 10px;
    height: 35px;
    width: 200px;
    padding-left: 10px;
}

.tterm{
    left: 450px;
}
.tyear{
    left: 750px;
}
.tclass{
    left: 1050px;
}

.front-sub{
    position:fixed;
    top: 325px;
    left: 450px;
}
.back-sub{
    position:fixed;
    top: 325px;
    left: 950px;
}

.front-sub input , .back-sub input,.front-sub select{
    width: 300px;
    padding-left: 10px;
}

.front-sub select{
    height: 35px;
    margin-top: 10px;
}

.chang_password{
    position:fixed;
    top: 600px;
    left: 1115px;
}

#btn_chang_pwd{
    width: 140px;
    height: 35px;
    border-radius: 25px;
    border: 1.5px solid #bdbdbd;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #207BFF;
}

#info_ps input{
    background-color:white;
    border: 1.5px solid #bdbdbd;
}

::placeholder {
    color: black;
}

.warn{
    position:fixed;
    top: 125px;
    left: 720px;
    width: 300px;
    height: 50px;
    color: #84205C;
    
    
}

.warning{
    position:relative;
    height: 50px;
    background-color: #F8D7DA;;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="file"]{
    display: none;
}

figcaption{
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    width: 110px;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    color: #2a292a;
}

#btnimg{
    margin-top: 15px;
    margin-left: 5px;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    font-size: 12px;
    border: 1.5px solid #bdbdbd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4EA5FF;
    cursor: pointer;
}