@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

.login{
    width: 460px;
    margin: 4rem auto;
    height: 600px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26 );
    border-radius: 50px;
    background-color: #F5F7FA;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45%;
}

.error{
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.alert{
    width: 250px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.7rem;
}
.logo img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}


.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.input input{
    width: 70%;
    height: 50px;
    border-style: none ;
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #4EA5FF;
    
}

::placeholder { 
    color: #F5F7FA;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.button button {
    width: 120px;
    height: 50px;
    border-style: none ;
    border-radius: 50px;
    background-color: #4EA5FF;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5 );
    color: #F5F7FA;
}