.content .search{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center; 
    padding-left: 905px;
    /* background-color: black; */
}

.search-bar{
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #F5F7FA;
    border: 1.5px solid #bdbdbd;
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin-top: 10px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    /* padding: 5px 9px; */
    font-size: 18px;
}

::placeholder{
    color: black;
}

.search-bar button i{
    font-size: 20px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #F5F7FA;
    cursor: pointer;
}

.content .all_user{
    width: 85%;
    height: 75px;
    background-color: #F5F7FA;
    margin-left: 95px;
    margin-top: 20px;
}
.list_user a{
    text-decoration: none;
    color: black;
}
.content .all_user .list_user{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    
}
.content .all_user .list_user .user_admin{
    border: 1px solid #e4e4e4;
    transition: .3s ease-in-out;
}

.content .all_user .list_user .user_admin i{
    font-size: 2.5rem;
    margin: 2.5px 0;
}
#admin{
    color: #207BFF;
}

#officer{
    color: #207BFF;
}
#teacher{
    color: #207BFF;
}

#student{
    color: #207BFF;
}





/* content hover */
.content .all_user .list_user .user_admin:hover{
    border: 1px solid #F5F7FA;
    background-color: #4EA5FF;
}

.user_admin:hover i{
    font-size: 2.5rem;
    margin: 2.5px 0;
    color: white;
}

.user_admin:hover h3{
    color: white;
}

.table{
    width: 85%;
    height: 435 px;
    /* background-color: black; */
    background-color: #F5F7FA;
    margin-left: 95px;
    overflow: hidden;
    
}
.topTable{
    /* background-color: burlywood; */
    height: 65px;
    padding: 12.5px 10px;
}

.table .adduser2{
    width: 125px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
    position: fixed;
    right: 125px;
    background-color: #207BFF;
    color: #F5F7FA;
    font-size: 1rem;
    cursor: pointer;
   
}

.s_room{
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color: #207BFF;
    color: #F5F7FA;
    border-radius: 25px;
    border-style: none;
}
.class-bar{
    position: relative;
    display: inline;
    position: fixed;
    top: 275px;
}


.class-bar b{
    padding-right: 3px;
}

.class-bar select{
    margin-right: 6px;
}








.table table {
    border-collapse: collapse;
    width: 100%;
}
  
.table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.table tr:nth-child(even) {
    background-color: white;
}

.table-fix{
    overflow-y: scroll;
    height: fit-content;
    max-height: 49vh;
}

.table th {
    position: sticky;
    top: 0px;
    background-color: #4EA5FF;
    color: #F5F7FA;
}


#sub{
    margin-top: 20px;
    height : auto;
    max-height: 500px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
}

#tb-sub{
    max-height: 54.8vh;
    height: fit-content;
}

#tb-bar{
    top: 204px;
}

td button{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: 1.5px solid #ccc;
    cursor: pointer;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

#btnEdit{
    background-color: #207BFF;
}

#btnDelete{
    background-color: red;
    margin-left: 5px;
}

#btnDelete:disabled,#btnEdit:disabled{
    pointer-events: none;
}
  
#btnDelete:hover ,#btnEdit:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    outline: 1.5px solid black;
}
  
#btnDelete:active ,#btnEdit:active{
    box-shadow: none;
    transform: translateY(0);
  }

a{
    text-decoration: none;
}
.back-del{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position:absolute;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.pop-up-delete{
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.55) 0 8px 15px;
    border-radius: 10px;
    text-align: center;
    
}

.del-logo{
    margin-top: -55px;
    margin-left: 38%;
    text-align: center;
    border: none;
    font-size: 80px;
    width: 120px;
    
    border-radius: 99px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
    color: red;
    /* display: none; */
}

.txt-del{
    margin-top: 25px;
}
.btn-del{
    
    margin-top: 40px;
    padding-left: 260px;
    
}
.btn-del button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    
}

.btn-del button:disabled {
    pointer-events: none;
}
  
.btn-del button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    outline: 2px solid black;
}
  
.btn-del button:active{
    box-shadow: none;
    transform: translateY(0);
}

.del-btnOK{
    margin-left: 15px;
    background-color: red;
    color: white;
}
.del-btncancel{
    background-color: white;
    color: black;
}

.close-pop{
    width: fit-content;
    height: 20px;
    margin-left: 450px;
    font-size: 40px;
    cursor: pointer;
}
    