@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

.head{
    width: 82%;
    height: 15%;
    background-color: #207BFF;
    position: fixed;
    right: 0;
    z-index: 9;
}
.head .hi{
    width: 350px;
    height: 100%;
    margin-left: 910px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F7FA;
}
.head .hi .img img{
    width: 95px;
    height: 95px;
    margin-right: 20px;
}


.menu{
    width: 18%;
    height: 100vh;
    background-color: #4EA5FF;
    position: fixed;
    left: 0;
}

.menu ul{
    margin-top: 22%;
   
}

.menu li{
    list-style-type: none;
    margin-top: 15px;
    padding-left: 25px;
    height: 34px;
    width: 100%;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
}

.menu .logout{
    margin-top: 250px;
    
}

a{
    text-decoration: none;
    color: #000;
}
li .icon{
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 20px;
    margin-right: 5px;
}
.icon img{
    width: 80%;
    position: relative;
    left: 2.5px;
    top: 2px;
}



.menu .logo{
    background-color: #F5F7FA;
    width: 95%;
    height: 10%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 25px;
}

.title{
    width: 82%;
    height: 5%;
    background-color: #F5F7FA;
    position: fixed;
    right: 0;
    top: 15%;
    z-index: 10;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26 );
}

.title img{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.title p{
    position: absolute;
    left: 50px;
    top: 8px;
}